/* fontage */
@font-face {font-family:'Regular';src:url('../font/pn-regular.woff') format('woff');font-style:normal;font-weight:normal;}
@font-face {font-family:'Semi';src:url('../font/pn-semibold.woff') format('woff');font-style:normal;font-weight:normal;}
@font-face {font-family:'ExoRegular';src:url('../font/exo-regular.woff') format('woff');font-style:normal;font-weight:normal;}
@font-face {font-family:'ExoMedium';src:url('../font/exo-medium.woff') format('woff');font-style:normal;font-weight:normal;}
@font-face {font-family:'ExoBold';src:url('../font/exo-bold.woff') format('woff');font-style:normal;font-weight:normal;}

/* reset, et al */
html {height:100%;}
body {margin:0;padding:0;height:100%;}
h1, h2, h3, h4, h5, h6, ul, ol, li {margin:0;padding:0;font-weight:normal;list-style:none;}

/* styles */
body {
	font-family:Regular;
	background-color:#fff;
	color:#333;
	background-repeat:no-repeat;
	background-size:100%;
	padding-top:160px;
}

article, section {padding:20px;}

a {
	color:#f60;
	font-family:Semi;
}


h1 {
	color:#fff;
	font-family:ExoRegular;
	text-transform:lowercase;
	font-size:2.9em;
	background-image:url(../img/flame.jpg);
	background-size:100%;
	height:160px;width:100%;
	position:absolute;top:0;
	line-height:289px;
	text-align:right;
}

h1 span:nth-child(1) {text-transform:uppercase;font-size:0.5em;margin-right:-10px;}
h1 span:nth-child(2) {font-family:ExoMedium;font-size:0.8em;margin-right:-10px}
h1 span:nth-child(3) {font-family:ExoBold;}

h2 strong {
	font-weight:normal;
	font-family:Semi;
}

div {
	background-color:#111;
	overflow:auto;padding:3% 0;
}

h3 {width:40%;float:left;margin:0 5%;color:#fff;text-align:center;}
h3 span {display:block;}

h3 span:nth-child(1) {font-family:ExoBold;font-size:1.5em;}
h3 span:nth-child(2) {font-family:ExoRegular;font-size:0.9em;}
h3 span:nth-child(3) {font-family:ExoMedium;}

p {
	margin:0;
	margin-top:1.1em;
}

h4 {
	font-size:1.5em;
}
h4 strong {
	font-weight:normal;
	font-family:Semi;
}

.ios {
	display:block;
	width:190px;height:66px;
	background-image:url(../img/ios.png);
	background-size:100%;
	background-color:transparent;
	position:absolute;
	top:20px;left:20px;
}
.ios span {visibility:hidden;}


@media all and (min-width:481px) {

	html {
		background-color:#ccc;
	}

	body {
		margin: 0 auto;
		width: 320px;
		padding-top: 0;
		height:auto;
	}

	h1 {
		position:relative;
	}

	.ios {
		left: 50%;
		margin-left: -95px;
	}


}

